@model IEnumerable<RareCrewTask.Models.Employee>

@{
    ViewData["Title"] = "RareCrew";
}

<h1>Total Time Worked by Employees</h1>
<div>
    @Html.Raw(ViewBag.Chart)
</div>

<table class="table table-striped table-hover text-center mt-3">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeName)
            </th>         
            <th>
                @Html.DisplayNameFor(model => model.TotalTimeWorked)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="@(item.TotalTimeWorked.TotalHours < 100 ? "bg-danger text-white" : "")">
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeName)
                </td>
                <td>
                    @(String.Format("{0} days, {1} hours, {2} minutes", (int)item.TotalTimeWorked.TotalDays, item.TotalTimeWorked.Hours, item.TotalTimeWorked.Minutes))
                </td>
            </tr>
        }
    </tbody>
</table>

<hr />

<h2>Piechart</h2>

<div class="card">
    <div class="card-header">
        <div class="chart">
            <canvas id="piechart"></canvas>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>

<script>
    var piechartCanvas = document.getElementById("piechart");
    var employeesName = [];
    var totalWorkTime = [];

    function getRandomColor() {
        var letters = '0123456789ABCDEF';
        var color = '#';
        for (var i = 0; i < 6; i++) {
            color += letters[Math.floor(Math.random() * 16)];
        }
        return color;
    }

    @foreach (var item in Model)
    {
        @:employeesName.push("@item.EmployeeName");
        @:totalWorkTime.push("@item.TotalTimeWorked.TotalHours");
    }
        
    var totalHours = totalWorkTime.reduce(function (a, b) {
        return parseFloat(a) + parseFloat(b);
    }, 0);

    var percentages = totalWorkTime.map(function (hours) {
        return ((parseFloat(hours) / totalHours) * 100).toFixed(2);
    });

    var backgroundColors = employeesName.map(function () {
        return getRandomColor();
    });

    var pieChart = new Chart(piechartCanvas, {
        type: 'pie',
        data: {
            labels: employeesName,
            datasets: [{
                data: percentages,
                borderWidth: 0,
                backgroundColor: backgroundColors,
                hoverBackgroundColor: backgroundColors
            }]
        },
        options: {
            responsive: true,
            legend: {
                position: "bottom",
                labels: {
                    boxWidth: 11,
                    fontColor: "#757681",
                    fontSize: 11
                }
            }
        }
    });
</script>